html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #a9e7ff;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

header {
  height: 100px;
  background: purple;
  padding-top: 20px;
}

header .title {
  color: white;
  font-size: 25px;
  width: max-content;
  margin: 0 auto;
}

header nav {
  margin-top: 20px;
  justify-content: space-around;
  display: flex;
}

header nav a {
  color: pink;
  font-weight: bold;
}

.cards {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}

.cards img {
  width: 210px;
  height: 280px;
}

.cards div span {
  display: block;
}

.dashboard h2 {
  text-align: center;
}
